.react-responsive-modal-modal {
	border-radius: 20px;
	background: linear-gradient(0deg, #323443 0%, #323443 100%), #eff6ff;
	height: 250px;
	display: flex;
	align-items: center;
	position: absolute;
	bottom: 70px;
}
.react-responsive-modal-overlay {
	background: rgba(0, 0, 0, 0.7);
}
button.react-responsive-modal-closeButton {
	fill: white;
}
